<ul>
    <li>
        <NavLink href="">صفحه اصلی</NavLink>
    </li>
    <li>
        <NavLink href="/categories">مدیریت دسته بندی ها</NavLink>
    </li>
    <li>
        <NavLink href="/newses">مدیریت اخبار</NavLink>
    </li>
</ul>